body {
    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-weight: normal;
    font-family: Roboto;
}
h1 {
    font-size: 73px; 
    line-height: 73px;
    color: #000000;
    font-weight: bold;
    font-family: Roboto;
}
h2 {
    font-size: 48px; 
    line-height: 48px;
    color: #000000;
    font-weight: bold;
    font-family: Roboto;
}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation {
  float: left;
  width: 430px;
  margin-left: 180px;
  margin-top: 55px;
}
.index-logo {
  float: left;
  width: 140px;
  height: 56px;
  margin-top: 27px;
  margin-bottom: 48px;
}
.basket {
  float: right;
  max-width: 100px;
}
.features {
  float: left;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;
}
